@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Logo */
/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Ribeye+Marrow&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #d95022;
  --color-secondary: #5a1163;
}

.logo {
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Londrina Shadow", sans-serif;
}

body {
  font-family: "Urbanist", sans-serif;
}
